<h3>{{ leyenda }} - {{ progreso }}</h3>

<div class="card-body">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(-5)"><i class="mdi mdi-minus"></i></button>
        </div>

        <input type="number" #txtProgress class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="progreso" min="0" max="100" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)">

        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="cambiarValor(+5)"><i class="mdi mdi-plus"></i></button>
        </div>
    </div>
</div>